body {
	margin: 0px;
}

div.topnav {
	margin-left: 200px;
    overflow: hidden;
    background-color: #00b359;
}

div.topnav a {
	float: left;
	font-family: "Arial Verdana", sans-serif;
	color: white;
	font-size: 25px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.topnav a:hover {
    background-color: #66b3ff;
}

div.topnav a.active {
    background-color: #66b3ff;
    color: white;
}

div.sidenav {
	clear: left;
	float: left;
	width: 236px;
    background-color: #00cc66;
}

div.sidenav a {
	font-family: "Arial Verdana", sans-serif;
	color: white;
	font-size: 25px;
    display: block;
	padding: 6px;
    text-align: center;
    text-decoration: none;
}

div.sidenav a:hover {
    background-color: #66b3ff;
}

div.sidenav a.active {
    background-color: #66b3ff;
    color: white;
}

h1 {
	margin-left: 256px;
	font-family: "Century Gothic", sans-serif;
	font-weight: normal;
}

h2 {
	float: right;
	margin-top: 42px;
	margin-right: 130px;
	font-family: "Century Gothic", sans-serif;
	font-weight: normal;
}

p {
	float: right;
	clear: left;
	margin-right: 100px;
	text-align: center;
	font-family: "Arial Verdana", sans-serif;
	font-weight: normal;
}

img.cornerlogo {
	float: left;
	border-style: solid;
	border-width: 18px;
	border-color: #00cc66;
}

img.members {
	margin-left: 24px;
}